[submodule "raintpl"]
      path   = libs/raintpl
      url    = git://github.com/rainphp/raintpl.git
      branch = v.2.7.2

[submodule "notorm"]
      path = libs/notorm
      url = git://github.com/vrana/notorm.git
